@use '../base/variables' as variables;


.contact-page {
    .hero {
        background-color: variables.$color-darker;
        color: white;
        padding: 4rem 0;
        text-align: center;
    }

    .contact-content {
        padding: 4rem 0;
        background-color: variables.$color-lightest;

        .container {
            display: flex;
            gap: 2rem;
        }

        .contact-info,
        .contact-form {
            flex: 1;
        }
    }
}

