@use 'variables' as variables;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: variables.$font-family-base;
    font-size: variables.$font-size-base;
    line-height: variables.$line-height-base;
    color: variables.$color-darkest;
    background-color: variables.$color-background;
}

