@use '../base/variables' as variables;

footer {
    background-color: variables.$color-darkest;
    color: white;
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .footer-section {
        h3 {
            margin-bottom: 1rem;
        }

        ul {
            list-style-type: none;

            li {
                margin-bottom: 0.5rem;

                a {
                    color: variables.$color-lightest;
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

