@use '../base/variables' as variables;

header {
    background-color: variables.$color-darkest;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: -100px;
    transition: top 0.3s;
    z-index: 1000;

    &.visible {
        top: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;

        ul {
            display: flex;
            list-style-type: none;
            gap: 2rem;

            &.main-menu {
                margin-right: auto;
            }

            &.lang-selector {
                margin-left: 2rem;
            }

            li {
                a {
                    color: white;
                    text-decoration: none;
                    transition: color 0.3s ease;
                    padding: 0.5rem 1rem;

                    &:hover {
                        color: variables.$color-lightest;
                    }
                }
            }
        }
    }
}

