@use '../base/variables' as *;

.team-page {
    .hero {
        background-color: $color-darker;
        color: white;
        padding: 4rem 0;
        text-align: center;
    }

    .team-group {
        padding: 4rem 0;

        &:nth-child(even) {
            background-color: $color-lightest;
        }

        h2 {
            text-align: center;
            color: $color-dark;
            margin-bottom: 2rem;
        }

        .team-members {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
        }
    }
}

